@use "../abstracts/" as *;

.nav {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  @include mq(s) {
    flex-direction: row;
  }

  &-logo {
    font-family: monospace;
    font-size: get-clamp(m);
    transition: opacity 0.3s ease-out;
    font-weight: 700;
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  &-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: get-clamp(s);
    transition: opacity 0.3s ease-out;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: .1rem;
      border-radius: 1.5rem;
      background-color: $secondary;
      top: 100%;
      left: 0;
      right: 0;
      transform: translateY(2.5rem);
      opacity: 0;
      transition: all .15s ease-out;
    }

    &:hover::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
