@use "../abstracts/" as *;

.post {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  margin-inline: auto;
  width: 100%;
  min-height: 15rem;

  &:hover {
    box-shadow: 0 0 .5rem $secondary;
  }
  
  &-author {
    width: max-content;
  }
}
