@use "../abstracts/" as *;

.search {
  position: relative;
  width: 50%;
  max-width: 30rem;

  &.toggle & {
    &-icon {
      visibility: hidden;
    }

    &-input {
      transform: scaleX(1);
    }
  }

  &-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
  }

  &-input {
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transform: scaleX(0.25);
    transition: transform 0.25s ease;
  }
}
