@use "../abstracts/" as *;

.search {
  position: relative;
  width: 50%;
  max-width: 30rem;

  &-clear {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: get-clamp(s);
    user-select: none;
  }

  &.toggle & {
    
    &-icon {
      visibility: hidden;
    }
    
    &-input {
      cursor: auto;
      transform: scaleX(1);
    }
  }

  &-icon {
    position: absolute;
    left: 12.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
  }
  
  &-input {
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transform: scaleX(0.25);
    transform-origin: left;
    transition: transform 0.25s ease;
    font-size: get-clamp(s);
  }
}
